body {
    padding: 50;
    margin: 40;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.459);
    position: sticky
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    color: #112e61;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

